alias lzg=lazygit
alias lzd=lazydocker

# Updates
alias update='
    sudo apt update \
    && sudo apt dist-upgrade -y \
    && sudo apt autoremove -y \
    && sudo apt autoclean'

# Docker
alias dcupdate="docker compose pull && docker compose up -d && docker system prune -f"

# SSH Info
alias sshconfig='
SSH_PORT_FILE="/etc/ssh/sshd_config.d/port-change.conf"
EXTERNAL_IP=$(curl --max-time 5 -fs ifconfig.me)
if [ $? -eq 0 ]; then
    echo "Host $(hostname)"
    echo "  HostName ${EXTERNAL_IP}"
    echo "  User ${USER}"
    echo "  IdentityFile ~/.ssh/your_key"
    [[ -f "${SSH_PORT_FILE}" ]] && echo "  $(cat ${SSH_PORT_FILE})"
else
    echo "No internet connection."
fi
'

# Quick QR Codes
alias qr="qrencode -t UTF8"
alias qrssh="sshconfig | qr"

# Conditional aliases
if type -p lsd &> /dev/null; then
    alias ls="lsd"
    alias l="lsd -l"
fi

if type -p batcat &> /dev/null; then
    alias cat="batcat --paging=never"
    export MANPAGER="sh -c 'sed -u -e \"s/\\x1B\[[0-9;]*m//g; s/.\\x08//g\" | batcat -p -lman'"
fi

if type -p bat &> /dev/null; then
    alias cat="bat --paging=never"
    export MANPAGER="sh -c 'sed -u -e \"s/\\x1B\[[0-9;]*m//g; s/.\\x08//g\" | bat -p -lman'"
fi

if type -p code-insiders &> /dev/null; then
    alias code=code-insiders
fi

